<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.demo.mapper.EmpMapper">

    <resultMap id="BaseResultMap" type="com.bjpowernode.demo.domain.Emp">
            <id property="empNo" column="emp_no" jdbcType="INTEGER"/>
            <result property="empName" column="emp_name" jdbcType="VARCHAR"/>
            <result property="job" column="job" jdbcType="VARCHAR"/>
            <result property="mgrId" column="mgr_id" jdbcType="INTEGER"/>
            <result property="hireDate" column="hire_date" jdbcType="DATE"/>
            <result property="salary" column="salary" jdbcType="DOUBLE"/>
            <result property="commission" column="commission" jdbcType="DOUBLE"/>
            <result property="deptNo" column="dept_no" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        emp_no,emp_name,job,
        mgr_id,hire_date,salary,
        commission,dept_no
    </sql>
    <select id="findByEmpNo" resultType="com.bjpowernode.demo.domain.Emp" parameterType="java.lang.Integer">

    </select>
</mapper>
